@import kafka.manager.model.ActorModel.{TopicIdentity, BVView}

@(brokersViews: Seq[BVView])(implicit messages: play.api.i18n.Messages)

<table class="table">
    <tr>
      <th>代理Broker </th>
      <th>写入消息/秒</th>
      <th>写入字节/秒</th>
      <th>输出字节/秒</th>
    </tr>
  @brokersViews.zipWithIndex.map { case (brokerView, idx) =>
    @if(brokerView.clusterContext.clusterFeatures.features(kafka.manager.features.KMJMXMetricsFeature)) {
      <tr>
        <td>@idx</td>
        <td>
          <span class="badge">@brokerView.metrics.map(_.messagesInPerSec.formatMeanRate)</span>
        </td>
        <td>
          <span class="badge">@brokerView.metrics.map(_.bytesInPerSec.formatMeanRate)</span>
        </td>
        <td>
          <span class="badge">@brokerView.metrics.map(_.bytesOutPerSec.formatMeanRate)</span>
        </td>
      </tr>
    } else {
      <tr>
        <td>@idx</td>
        <td>
          <span class="badge">NA</span>
        </td>
        <td>
          <span class="badge">NA</span>
        </td>
        <td>
          <span class="badge">NA</span>
        </td>
      </tr>
    }
  }
</table>

<table class="table">
  <tr>
    <th>代理Broker </th>
    <th>拒收字节/秒</th>
    <th>读取失败请求/秒</th>
    <th>生产失败请求/秒</th>
  </tr>
  @brokersViews.zipWithIndex.map { case (brokerView, idx) =>
  @if(brokerView.clusterContext.clusterFeatures.features(kafka.manager.features.KMJMXMetricsFeature)) {
  <tr>
    <td>@idx</td>
    <td>
      <span class="badge">@brokerView.metrics.map(_.bytesRejectedPerSec.formatMeanRate)</span>
    </td>
    <td>
      <span class="badge">@brokerView.metrics.map(_.failedFetchRequestsPerSec.formatMeanRate)</span>
    </td>
    <td>
      <span class="badge">@brokerView.metrics.map(_.failedProduceRequestsPerSec.formatMeanRate)</span>
    </td>
  </tr>
  } else {
  <tr>
    <td>@idx</td>
    <td>
      <span class="badge">NA</span>
    </td>
    <td>
      <span class="badge">NA</span>
    </td>
    <td>
      <span class="badge">NA</span>
    </td>
  </tr>
  }
  }
</table>
